<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Magazines</title>
</head>
<body>
    <div id="app">
        <h1 v-html="titel"></h1>
        <div v-for="magazine in magazines">
            <div v-bind:class="[ !magazine.doelgroep || !magazine.prijs ? 'red' : 'green']">
                <h2>{{ magazine.naam }}</h2>
            </div>
            <div v-if="!magazine.doelgroep" class="red">
                <p>Het doelgroep ontbreekt!</p>
            </div>
            <div v-else>
                <p>Doelgroep: {{ magazine.doelgroep }}</p>
            </div>
            <div v-if="!magazine.prijs" class="red">
                <p>De kostprijs ontbreekt</p>
            </div>
            <div v-else>
                <p>Kostprijs los nummer: {{ magazine.prijs }}</p>
            </div>
        </div>
        <form id="form_magazine" method="post">    
            <label for="naam">Naam:</label>
            <input type="text" name="naam" id="naam">
            <label for="doelgroep">Doelgroep:</label>
            <input type="text" name="doelgroep" id="doelgroep">
            <label for="prijs">Prijs:</label>
            <input type="text" name="prijs" id="prijs">
            <input type="submit" value="Voeg toe" v-on:click="voegMagazineToe()">
        </form>
    </div>


    <script>
        const app = {
            data: function () {
                return {
                    titel: "<i>Magazines</i>",
                    magazines: [
                        {naam: "Libelle", doelgroep: "vrouwen", prijs: 4.75},
                        {naam: "Knack", doelgroep: "", prijs: 6.25},
                        {naam:"Humo", doelgroep: "gemengd", prijs: ""}
                    ]
                }
            }, 

            methods: {
                voegMagazineToe: function () {
                    let naamTxt = document.getElementById('naam').value;
                    let doelgroepTxt = document.getElementById('doelgroep').value;
                    let prijsTxt = document.getElementById('prijs').value;
                    if (naamTxt.length == 0) {
                        alert('Gelieve minstens de naam in te geven');
                        event.preventDefault();
                    }
                    else {
                        this.magazines.push({naam: naamTxt, doelgroep: doelgroepTxt, prijs: prijsTxt});
                        document.getElementById('form_magazine').reset();
                        // document.getElementById('naam').value = '';
                        // document.getElementById('doelgroep').value = '';
                        // document.getElementById('prijs').value = '';
                        event.preventDefault();
                    }
                }
            }
        }
        Vue.createApp(app).mount('#app')

        
    </script>
</body>
</html>